*.suo
UnrealSpace/UnrealSpace.sln
UnrealSpace/Intermediate/
*.opensdf
*.sdf
UnrealSpace/DerivedDataCache/
UnrealSpace/Saved/
UnrealSpace/Build/
UnrealSpace/Binaries/Win64/UE4Editor-UnrealSpace.dll
UnrealSpace/Binaries/Win64/UE4Editor-UnrealSpace.pdb
ContentSource/
